* {
    margin: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration-color: none;
    border: none;
    background: transparent;
    vertical-align: baseline;
    font-family: oldEnglish;
}

#title {
    padding: 1%;
    font-size: 70px;
    font-family: 'Cinzel', serif;
    text-align: center;
    color: seashell;
    text-shadow: 10px 10px 7px #000;
}


body {
    background-image: url(https://www.wallpapertip.com/wmimgs/27-279924_data-src-ruins-background.jpg);
    background-repeat: repeat;
    background-size: auto;
}


#main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px 20px 0px;
}

figure { 
    border: 3px solid black;
    margin: 2px;
    height: 155px;
    width: 115px;
    background-color: beige;
    color:black;
    text-shadow: 1px 3px 20px #000;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 10px;
}

img {
    height: 130px;
    width: 110px;
}

.results_container {
    display: flex;
    justify-content: center;
}

#resultado {
    display: flex;
    align-items: center;
    padding-left: 3%;
    color: white;
    font-size: 70px;
    text-shadow: 3px 3px 5px rgb(180, 0, 0);
}

.logo {
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    padding-bottom: 2%;
    padding-top: 2%;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    color: wheat;
    text-shadow: 3px 3px 3px #000;
}
        